<div class="main-container" data-controller="map-toggler">
  <div class="row-container">
    <h1>Buddies in your area!</h1>
    <div class="button-container" data-action="click->map-toggler#toggle" id="toggleButton">
      <p data-map-toggler-target="toggleButton" data-action="click->show-map#initMapbox" class="btn btn-primary text-center mt-1">
        View map
        <i class="fas fa-map-marked-alt ml-2"></i>
      </p>
    </div>
  </div>
  <div class="row-container" data-controller="show-map">
    <div class="sub-container" data-map-toggler-target="main">
      <div class="buddies-container" data-map-toggler-target="buddyView" id="buddies-container">
        <% @buddies.each do |buddy| %>
          <div class="index-card">
            <%= show_buddy_photo(buddy) %>
            <div class="index-card-info">
              <%= link_to buddy.name, buddy_path(buddy), class: 'h5 text-secondary' %>
              <p class="w-100"><%= buddy.description %></p>
              <div class="d-flex justify-content-between mt-1">
                <div class="d-flex justify-content-start flex-wrap align-items-end">
                  <% buddy.tags.each do |tag| %>
                    <h6><span class="badge badge-secondary mr-1"><%= tag %></span></h6>
                  <% end %>
                </div>
                <div class="price">
                  <p><%= buddy.price_cents %>€</p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="map-container" data-map-toggler-target="mapView" id="map-container">
       <div id="map" data-show-map-target="map"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
    
  </div>
</div>