<%# Main container  %>
<div class="container">
<%# row 12 columns to show the carrousse or main picture of the buddy%>
    
    <div class="bannerbuddy" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @buddy.photo.key, height: 300, width: 400, crop: :fill %>')">
          <%# Inserting the picture %>
    </div>
    

  <%# Main row for the description and the booking method %>

  <div class="show-body d-flex justify-content-between mt-5">
    <div class="description-box ">
        <h1 class="list-group-item-heading"><%= @buddy.name %> </h1>
        <h2 class="list-group-item-text border-bottom "> <%=@buddy.description  %> </h2>
        <% @buddy.tags.each do |tag| %>
        <div class="my-5 ">
          <h3><%= tag %></h3>
          <p><%= display_tag(tag)  %></p>
        </div>
      
        <% end %>

    </div>
    <div class="booking-box">
      <div class="card text-center">
        <div class="card-header">
          BOOK IT NOW
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= @buddy.name  %></h5>
          <p class="card-text"><%= @buddy.description  %></p>
          <a href="#" class="btn btn-primary">Book now!</a>
        </div>
        <div class="card-footer text-muted">
          Buffer is here for you
        </div>
      </div>
    </div>
  </div>

  <div>
    <%= link_to "Go Back to results" , buddies_path %>
  </div>
</div>
