<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <% @buddy.photos.each_with_index do |photo, index| %>
      <div class="carousel-item <%= 'active' if index == 0 %> ">
        <div style="background-image: url(<%= cl_image_path photo.key %>)" class="d-block carousel-image">
        </div>
      </div>
    <% end %>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="main-container">
  <div class="show-body row d-flex justify-content-between mt-3">
    <div class="description-box col-12 col-lg-6" id="round-border">
      <h2><strong><%= @buddy.name %></strong> </h2>
      <h6 class="border-bottom rounded text-secondary" style="line-height: 25px;"> <%=@buddy.description  %> </h6>
      <h5 class="pt-1 pb-2"><strong>My specialities: </strong></h5>
      <% @buddy.tags.each do |tag| %>
        <div class="mb-4">
          <h6><span class="badge badge-secondary mr-1"><%= tag %></span></h6>
          <p class="text-secondary"><%= display_tag(tag)  %></p>
        </div>
      <% end %>
      <div class="d-flex justify-content-start">
        <% if user_signed_in? %>
          <p class="mr-3"><%= link_to 'Contact buddy', chatroom_path(@chatroom) %></p>
        <% end %>
        <% if @buddy.user == current_user %>
          <p class="mr-3"><%= link_to 'Delete buddy', buddy_path(@buddy), method: 'delete' %></p>
        <% end %>
        <% if @buddy.user == current_user %>
          <p><%= link_to 'Update buddy', edit_buddy_path(@buddy), method: 'get' %></p>
        <% end %>
      </div>
    </div>
    <div class="col-12 col-lg-6" id="booking-round">
      <div class="booking-form bg-white m-0 text-center">
        <div class="bg-white">
          <h2><%= @buddy.name %> is available</h2>
        </div>
        <h3 class="pt-3">Hourly rate: <%=  @buddy.price_cents %> €</h3>
        
        <div class="card-body mt-5">
         <div class="form-inputs mt-5">
           <%= simple_form_for [@buddy, @booking] do |f| %>
              <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker",  style: "
    border: 1px solid black;" } %>
              <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker",  style: "
    border: 1px solid black;" } %>
         </div>
         <div class="form-actions">
               <%= f.button :submit, class: "btn btn-flat" %>
        </div> 
        <% end %>
        </div>
      </div>
    </div>
    <div class="map-container" id="map-show-container" data-controller="show-map">
      <div id="map" data-show-map-target="map"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
  <div class="main-container w-100 mx-0 mt-5">
      <h3>Reviews</h3>
      <div id="reviews" class="row d-flex justify-content-between">
        <div class="col-12 col-lg-7">
          <%= simple_form_for([ @buddy, @review ]) do |f| %>
            <%= f.input :content, as: :text %>
            <%= f.input :rating, collection: 1..5 %>
            <%= f.button :submit, class:"btn btn-primary mb-3" %>
          <% end %>
        </div>
        <div class="col-12 col-lg-5">
          <% if @buddy.reviews.blank? %>
            Be the first to leave a review for <%= @buddy.name %>
          <% else %>
            <%= pluralize @buddy.reviews.size, "review" %>
            <% @buddy.reviews.each do |review| %>
              <div class="bg-light text-dark mb-2 rounded">
                <p class="mb-1"><strong><%= review.content %></strong></p>
                <div class="d-flex justify-content-between align-items-end">
                  <div>
                    <p class="mb-1 rounded">
                      <% review.rating.times do %>
                        <i class="fas fa-star text-primary"></i>
                      <% end %>
                    </p>
                  </div>
                  <div>
                    <p class="pr-2 mb-0">- <%= review.user.email %></p>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
</div>
